*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
scroll-behavior:smooth;
}

/* RGB Background */
body{
background: linear-gradient(-45deg,#020617,#001a1a,#003333,#020617);
background-size:400% 400%;
animation:gradientBG 10s ease infinite;
color:#00ffcc;
}

@keyframes gradientBG{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* Scroll Bar */
#progress-bar{
position:fixed;
top:0;
left:0;
height:4px;
background:#00ffcc;
width:0%;
z-index:999;
}

/* Navbar */
nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
}

nav li{
margin-left:25px;
}

nav a{
color:#00ffcc;
text-decoration:none;
transition:.3s;
}

nav a:hover{
text-shadow:0 0 10px #00ffcc;
}

/* Sections */
.section{
padding:100px 20px;
text-align:center;
opacity:0;
transform:translateY(30px);
transition:1s;
}

.section.show{
opacity:1;
transform:translateY(0);
}

/* Typing */
.typing-container{
min-height:30px;
font-size:22px;
}

#typing{
display:inline-block;
min-width:250px;
text-align:center;
}

/* Cards */
.card{
background:rgba(255,255,255,0.05);
border:1px solid rgba(0,255,204,0.3);
margin:20px auto;
padding:25px;
max-width:400px;
border-radius:15px;
backdrop-filter:blur(10px);
transition:.3s;
}

.card:hover{
transform:translateY(-10px) scale(1.03);
box-shadow:0 0 25px #00ffcc;
}

/* Skills */
.skills{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.skills div{
padding:12px 18px;
border:1px solid #00ffcc;
border-radius:25px;
transition:.3s;
}

.skills div:hover{
background:#00ffcc;
color:black;
transform:scale(1.1);
}

/* Contact */
.contact-icons a{
margin:15px;
font-size:28px;
color:#00ffcc;
transition:.3s;
}

.contact-icons a:hover{
transform:scale(1.3);
text-shadow:0 0 20px #00ffcc;
}

/* Cursor */
.cursor{
width:15px;
height:15px;
background:#00ffcc;
border-radius:50%;
position:fixed;
pointer-events:none;
transform:translate(-50%,-50%);
box-shadow:0 0 20px #00ffcc;
}